/* Global styles -------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    min-width: 300px;
    margin: 0 auto;
    background-color: white;
    display: grid;
    gap: 20px 0;
    grid-auto-flow: row;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    letter-spacing: .15rem;
}

h1, h2 , h3, a {
    font-family: 'Roboto Condensed', Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: .3rem;
}

h1 {
    font-weight: 700;
    font-size: 2.3rem;
    letter-spacing: .5rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black;
}

.cta {
    font-weight: 500;
    padding: 20px;
    width: 100%;
    margin: 20px auto;
    background-color: black;
    color: white;
    border: none;
    letter-spacing: .2rem;
}


/* Header ---------------------- */
header {
    background-color: white;
    padding: 20px;
    min-height: 65px;
    position: relative;
    box-shadow: 0px 2px 5px lightgray;
    display: flex;
    flex-direction: column;
}

.logo {
    margin: 0 auto;
    width: 100px;
    display: none;
}

.text-logo {
    font-size: 1.3rem;
    margin: 0 auto;
}

#hamburger-menu {
    display: none;
}

.fa-bars {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.4rem;
}

nav {
    display: none;
}

#hamburger-menu:checked ~ .text-logo {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
    margin: 20px auto;
    max-width: 150px;
    flex: 100%;
}

#hamburger-menu:checked ~ nav a {
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: 1rem;
}

/* Header home page*/
.header-home {
    background-image: url(images/cloudy-mountain-overlay.jpg);
    background-position: top center;
    background-size: cover;
    height: 90vh;
    box-shadow: none;
}

.header-home > *, .header-home a {
    color: white;
}

.welcome {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 20px;
    right: 20px;
    bottom: 100px;
    text-align: center;
    max-width: 260px;
}

.welcome > h1, h2 {
    padding: 10px 0;
}

.yellow { 
    background-color: #FFC01E;
    color: black;
    margin-top: 50px;
}



/* Page content ---------------- */
main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-auto-flow: row;
}


/* Footer ----------------------*/
footer {
    background-color:#f2f2f2;
    padding: 20px;
}



